# Ignore all
*
!*/

# Add metadata and build files
!.gitignore
!.dockerignore
!**/Dockerfile
!**/Makefile
!**/pyproject.toml
!**/requirements*
!**/uf.lock
!**/README.md
!**/.keep
!**/py.typed

# Add Python code
!src/**/*.py
!examples/**/*.py
!tests/**/*.py
**/.*_cache
**/__pycache__

# Docs
!**/*.md
